*{
    padding: 0;
    margin: 0;
}

h1{
    display: flex;
    justify-content: center;
    background-color: bisque;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: beige;
}

.container {
    display: flex;
    justify-content: center; /* Center the form horizontally */
    align-items: center; /* Center the form vertically */
    height: 60vh;
}

.form {
    text-align: center; /* Align form elements in center */
}

#inputLabel {
    display: flex; /* Display labels in block format */
    justify-content: center;
    font-size: 25px;
    margin-bottom: 10px; /* Add space between label and input */
    background-color: rgb(88, 82, 39);
    color: white;
    border-radius: 10px;
    padding: 8px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="text"]:focus {
    outline: none; /* Remove default focus outline */
    border-color: #007bff; /* Change border color on focus */
}

#ply-btn{
   margin-left: 35%;
    padding: 10px 20px; /* Add padding to the button */
    font-size: 16px;
    background-color: #181b1f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}